## Load parquet

In [1]:
%matplotlib widget

In [2]:

import pandas as pd

import matplotlib.pyplot as plt
import pandas_ta as ta

In [3]:
df = pd.read_parquet("data.parquet")

In [4]:
df.head()

,name,id,figi,ts,open_price,close_price,high_price,low_price,volume
0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0
1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0
2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0
3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0
4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0

In [5]:
df.groupby("name").count()

,id,figi,ts,open_price,close_price,high_price,low_price,volume
name,,,,,,,,
AT&T,101134,101134,101134,101134,101134,101134,101134,101134
Apple,119367,119367,119367,119367,119367,119367,119367,119367
JPMorgan,85536,85536,85536,85536,85536,85536,85536,85536

## Analyze single stock

### Create dataset with sliding averages

In [6]:
sliding_window_df = df[df["id"] == 1].iloc[:300].reset_index()

In [7]:
sliding_window_df.head()

,index,name,id,figi,ts,open_price,close_price,high_price,low_price,volume
0,0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0
1,1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0
2,2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0
3,3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0
4,4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0

In [8]:

# List of all indicators
sliding_window_df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.2.23b0
Total Indicators: 123
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_doji, cdl_inside, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, decay, decreasing, dema, donchian, dpo, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, ichimoku, increasing, inertia, kama, kc, kdj, kst, kurtosis, linreg, log_return, long_run, macd, mad, massi, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvt, pwma, qstick, quantile, rma, roc, rsi, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, stdev, stoch, stochrsi, supertrend, swma, t3, tema, thermo, trend_return, trima, trix, true_range, tsi, ttm_trend, ui, uo, variance, vortex, vp, vwap, vwma, wcp, willr, wma, zlma, zscore

In [9]:
help(ta.macd)

Help on function macd in module pandas_ta.momentum.macd:

macd(close, fast=None, slow=None, signal=None, offset=None, **kwargs)
    Moving Average Convergence Divergence (MACD)

    The MACD is a popular indicator to that is used to identify a security's trend.
    While APO and MACD are the same calculation, MACD also returns two more series
    called Signal and Histogram.  The Signal is an EMA of MACD and the Histogram is
    the difference of MACD and Signal.

    Sources:
        https://www.tradingview.com/wiki/MACD_(Moving_Average_Convergence/Divergence)

    Calculation:
        Default Inputs:
            fast=12, slow=26, signal=9
        EMA = Exponential Moving Average
        MACD = EMA(close, fast) - EMA(close, slow)
        Signal = EMA(MACD, signal)
        Histogram = MACD - Signal

    Args:
        close (pd.Series): Series of 'close's
        fast (int): The short period.  Default: 12
        slow (int): The long period.   Default: 26
        signal (int): The signal period.   Default: 9
        offset (int): How many periods to offset the result.  Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.DataFrame: macd, histogram, signal columns.

Add metrics

In [10]:
# Add MACD
sliding_window_df.ta.macd(append=True)

# Add RSI
sliding_window_df.ta.rsi(append=True)

# Add MFI
sliding_window_df.ta.mfi(append=True)

sliding_window_df.head()

,index,name,id,figi,ts,open_price,close_price,high_price,low_price,volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_14,MFI_14
0,0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0,NaN,NaN,NaN,NaN,NaN
1,1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0,NaN,NaN,NaN,NaN,NaN
2,2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0,NaN,NaN,NaN,100.000000,NaN
3,3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0,NaN,NaN,NaN,90.697674,NaN
4,4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0,NaN,NaN,NaN,94.688458,NaN

In [11]:
sliding_window_df.describe()

,index,id,open_price,close_price,high_price,low_price,volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_14,MFI_14
count,300.000000,300.0,300.000000,300.000000,300.000000,300.000000,300.000000,275.000000,275.000000,292.000000,298.000000,287.000000
mean,525.423333,1.0,113.409267,113.408600,113.506933,113.314167,16421.200000,0.017080,-0.000509,0.016565,53.232177,46.502836
std,371.148859,0.0,2.580201,2.573246,2.520920,2.628869,26023.889853,0.669317,0.221551,0.603402,16.127685,24.477990
min,0.000000,1.0,105.940000,107.600000,107.900000,105.870000,1.000000,-2.049840,-0.768749,-1.785446,16.415720,2.614048
25%,74.750000,1.0,111.795000,111.905000,112.110000,111.505000,254.750000,-0.121259,-0.110019,-0.095387,40.665562,30.221867
50%,582.500000,1.0,114.420000,114.410000,114.455000,114.330000,8560.000000,0.031683,-0.010748,0.023250,54.120160,43.254214
75%,838.250000,1.0,115.275000,115.260000,115.382500,115.157500,21159.750000,0.371551,0.100757,0.307192,63.046146,64.248141
max,1038.000000,1.0,117.110000,117.110000,117.110000,117.110000,179292.000000,1.572936,0.684642,1.391183,100.000000,99.959186

Add RSI oversold and overbought

In [30]:
RSI_oversold_threshold = 30
RSI_overbouht_threshold = 70

sliding_window_df["RSI_oversold"] = sliding_window_df["RSI_14"] <= RSI_oversold_threshold
sliding_window_df["RSI_overbought"] = sliding_window_df["RSI_14"] >= RSI_overbouht_threshold

Add MFI oversold

In [31]:
MFI_oversold_threshold = 20
MFI_overbouht_threshold = 80

sliding_window_df["MFI_oversold"] = sliding_window_df["MFI_14"] <= MFI_oversold_threshold
sliding_window_df["MFI_overbought"] = sliding_window_df["MFI_14"] >= MFI_overbouht_threshold

Add MACD signal crossover and cross under

In [49]:
sliding_window_df["MACD_diff"] = (sliding_window_df["MACD_12_26_9"] - sliding_window_df["MACDs_12_26_9"])
sliding_window_df["MACD_crossover"] = (sliding_window_df["MACD_diff"] >= 0) & (sliding_window_df["MACD_diff"].shift() <= 0)
sliding_window_df["MACD_crossunder"] = (sliding_window_df["MACD_diff"] <= 0) & (sliding_window_df["MACD_diff"].shift() >= 0)

Show MACD RSI

In [55]:
plt.figure(figsize=(14,8))
plt.subplot(4, 1, 1)
sliding_window_df["close_price"].plot(color="black")
plt.legend()

plt.subplot(4, 1, 2)
ax = sliding_window_df["RSI_14"].plot(color="purple")
# Show oversold zone
for x in sliding_window_df[sliding_window_df["RSI_14_oversold"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='blue')
# Show overbought zone
for x in sliding_window_df[sliding_window_df["RSI_14_overbought"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='green')
plt.legend()

plt.subplot(4, 1, 3)
ax = sliding_window_df["MFI_14"].plot(color="brown")
# Show oversold zone
for x in sliding_window_df[sliding_window_df["MFI_14_oversold"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='blue')
# Show overbought zone
for x in sliding_window_df[sliding_window_df["MFI_14_overbought"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='green')
plt.legend()

plt.subplot(4, 1, 4)
sliding_window_df["MACDh_12_26_9"].plot(color="red",kind="bar")
sliding_window_df["MACDs_12_26_9"].plot(color="blue")
ax = sliding_window_df["MACD_12_26_9"].plot(color="green")
# Show crossover moments
for x in sliding_window_df[sliding_window_df["MACD_crossover"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='blue')
# Show crossunder moments
for x in sliding_window_df[sliding_window_df["MACD_crossunder"]].index:
    ax.axvspan(x, x+1, alpha=0.2, color='green')
plt.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦