In [1]:
%matplotlib widget

In [2]:

import pandas as pd

import matplotlib.pyplot as plt
import pandas_ta as ta

## Load parquet

In [25]:
df = pd.read_parquet("data.parquet")

In [26]:
df.groupby("name").count()

,id,figi,ts,open_price,close_price,high_price,low_price,volume
name,,,,,,,,
AT&T,101134,101134,101134,101134,101134,101134,101134,101134
Apple,119367,119367,119367,119367,119367,119367,119367,119367
JPMorgan,85536,85536,85536,85536,85536,85536,85536,85536

## Choose single stock

In [27]:
df = df[df["id"] == 1]

## Apply processing
Strategy can be applied only on by-name group

In [28]:
def concat_df_with_col(df, column):
    return pd.concat([df, column], axis=1)

In [29]:
def calc_metrics_with_groups(df, 
    RSI_oversold_threshold = 30,
    RSI_overbouht_threshold = 70,
    MFI_oversold_threshold = 20,
    MFI_overbouht_threshold = 80):
    # Add MACD
    df = concat_df_with_col(df, df.groupby("name").apply(lambda x: x.ta.macd()).reset_index(level=0, drop=True))

    # Add RSI
    df = concat_df_with_col(df, df.groupby("name").apply(lambda x: x.ta.rsi()).reset_index(level=0, drop=True))

    # Add MFI
    df = concat_df_with_col(df, df.groupby("name").apply(lambda x: x.ta.mfi()).reset_index(level=0, drop=True))
    
    # # Add RSI oversold and overbought
    # df["RSI_oversold"] = df["RSI_14"] <= RSI_oversold_threshold
    # df["RSI_overbought"] = df["RSI_14"] >= RSI_overbouht_threshold

    # # Add MFI oversold and overbought
    # df["MFI_oversold"] = df["MFI_14"] <= MFI_oversold_threshold
    # df["MFI_overbought"] = df["MFI_14"] >= MFI_overbouht_threshold
    
    # # Add MACD signal crossover and cross under
    # df["MACD_diff"] = (df["MACD_12_26_9"] - df["MACDs_12_26_9"])
    # df["MACD_crossover"] = (df["MACD_diff"] >= 0) & (df["MACD_diff"].shift() <= 0)
    # df["MACD_crossunder"] = (df["MACD_diff"] <= 0) & (df["MACD_diff"].shift() >= 0)
    
    return df

def calc_metrics(df, 
    RSI_oversold_threshold = 30,
    RSI_overbouht_threshold = 70,
    MFI_oversold_threshold = 20,
    MFI_overbouht_threshold = 80):
    # Add MACD
    df.ta.macd(append=True)

    # Add RSI
    df.ta.rsi(append=True)

    # Add MFI
    df.ta.mfi(append=True)
    
    # # Add RSI oversold and overbought
    # df["RSI_oversold"] = df["RSI_14"] <= RSI_oversold_threshold
    # df["RSI_overbought"] = df["RSI_14"] >= RSI_overbouht_threshold

    # # Add MFI oversold and overbought
    # df["MFI_oversold"] = df["MFI_14"] <= MFI_oversold_threshold
    # df["MFI_overbought"] = df["MFI_14"] >= MFI_overbouht_threshold
    
    # # Add MACD signal crossover and cross under
    # df["MACD_diff"] = (df["MACD_12_26_9"] - df["MACDs_12_26_9"])
    # df["MACD_crossover"] = (df["MACD_diff"] >= 0) & (df["MACD_diff"].shift() <= 0)
    # df["MACD_crossunder"] = (df["MACD_diff"] <= 0) & (df["MACD_diff"].shift() >= 0)
    
    return df

In [30]:
df.head()

,name,id,figi,ts,open_price,close_price,high_price,low_price,volume
0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0
1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0
2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0
3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0
4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0

In [31]:
df = calc_metrics(df)

## Show result

In [32]:
df.head()

,name,id,figi,ts,open_price,close_price,high_price,low_price,volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_14,MFI_14
0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0,NaN,NaN,NaN,NaN,NaN
1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0,NaN,NaN,NaN,NaN,NaN
2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0,NaN,NaN,NaN,100.000000,NaN
3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0,NaN,NaN,NaN,90.697674,NaN
4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0,NaN,NaN,NaN,94.688458,NaN

## Transform data

In [33]:
column_names = {
    "open_price":"open",
    "close_price":"close",
    "high_price":"high",
    "low_price":"low",
    "volume":"volume",
    "MACD_12_26_9":"MACD",
    "MACDh_12_26_9":"MACDh",
    "MACDs_12_26_9":"MACDs",
    "RSI_14":"RSI",
    "MFI_14":"MFI"
}

df = df.rename(columns=column_names)

In [34]:
df.head()

,name,id,figi,ts,open,close,high,low,volume,MACD,MACDh,MACDs,RSI,MFI
0,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:45:00+00:00,114.02,114.02,114.02,114.02,6.0,NaN,NaN,NaN,NaN,NaN
1,JPMorgan,1,BBG000DMBXR2,2018-01-23 21:35:00+00:00,114.02,114.02,114.02,114.02,10.0,NaN,NaN,NaN,NaN,NaN
2,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:55:00+00:00,114.20,114.23,114.26,114.16,76837.0,NaN,NaN,NaN,100.000000,NaN
3,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:50:00+00:00,114.37,114.21,114.39,114.19,34299.0,NaN,NaN,NaN,90.697674,NaN
4,JPMorgan,1,BBG000DMBXR2,2018-01-23 20:45:00+00:00,114.33,114.36,114.41,114.31,27240.0,NaN,NaN,NaN,94.688458,NaN

In [35]:
df.groupby("id").count()

,name,figi,ts,open,close,high,low,volume,MACD,MACDh,MACDs,RSI,MFI
id,,,,,,,,,,,,,
1,85536,85536,85536,85536,85536,85536,85536,85536,85511,85511,85528,85534,85523

In [37]:
# result_df = pd.DataFrame()

# for i, (index, dfx) in enumerate(df.groupby("id")):
#     prefix = "%d_" % i
#     columns = ["open", "close", "high", "low", "volume","MACD","MACDh","MACDs","RSI","MFI"]
#     columns_with_prefix = {x : prefix + x for x in columns}
#     # Select columns
#     dfx = dfx[["ts"] + columns]
#     # Rename columns
#     dfx = dfx.rename(columns=columns_with_prefix)
#     # Concat columns
#     if result_df.empty:
#         # Copy
#         result_df = dfx
#     else:
#         result_df = pd.merge(result_df, dfx, on="ts")

columns = ["open", "close", "high", "low", "volume","MACD","MACDh","MACDs","RSI","MFI"]
result_df = df[columns]

In [38]:
result_df.head()

,open,close,high,low,volume,MACD,MACDh,MACDs,RSI,MFI
0,114.02,114.02,114.02,114.02,6.0,NaN,NaN,NaN,NaN,NaN
1,114.02,114.02,114.02,114.02,10.0,NaN,NaN,NaN,NaN,NaN
2,114.20,114.23,114.26,114.16,76837.0,NaN,NaN,NaN,100.000000,NaN
3,114.37,114.21,114.39,114.19,34299.0,NaN,NaN,NaN,90.697674,NaN
4,114.33,114.36,114.41,114.31,27240.0,NaN,NaN,NaN,94.688458,NaN

In [39]:
result_df.shape

(85536, 10)

In [41]:
result_df.describe()

,open,close,high,low,volume,MACD,MACDh,MACDs,RSI,MFI
count,85536.000000,85536.000000,85536.000000,85536.000000,85536.000000,85511.000000,85511.000000,85528.000000,85534.000000,8.552300e+04
mean,108.869357,108.868067,108.965903,108.769106,17384.196935,0.000945,-0.000004,0.000949,50.000697,4.893427e+01
std,12.836169,12.837386,12.816483,12.857599,23507.344659,0.331436,0.107139,0.309003,12.180194,2.128730e+01
min,77.570000,77.250000,78.640000,76.930000,1.000000,-5.099767,-2.370230,-4.474312,5.623387,-2.910913e-10
25%,99.390000,99.390000,99.490000,99.280000,79.000000,-0.113025,-0.036314,-0.107513,41.880198,3.478548e+01
50%,108.110000,108.110000,108.200000,108.020000,12355.000000,0.000336,-0.000516,0.000513,50.136372,4.895652e+01
75%,115.510000,115.500000,115.590000,115.430000,24494.250000,0.120574,0.036310,0.115109,58.260839,6.299376e+01
max,141.240000,141.240000,141.240000,141.240000,515849.000000,3.564853,1.535910,3.143031,100.000000,1.000000e+02

## Save results

In [40]:
result_df.to_parquet("processed_data.parquet", compression="gzip")