In [1]:
import numpy as np
import pandas as pd

from stock_trading_env import StockTradingEnv

In [2]:
# Read df
df = pd.read_parquet("processed_data.parquet")
df.head()

,0_open,0_close,0_high,0_low,0_volume,0_MACD,0_MACDh,0_MACDs,0_RSI,0_MFI,...,2_open,2_close,2_high,2_low,2_volume,2_MACD,2_MACDh,2_MACDs,2_RSI,2_MFI
0,114.20,114.23,114.26,114.16,76837.0,NaN,NaN,NaN,100.000000,NaN,...,37.20,37.19,37.26,37.18,98644.0,NaN,NaN,NaN,32.049265,NaN
1,114.37,114.21,114.39,114.19,34299.0,NaN,NaN,NaN,90.697674,NaN,...,37.15,37.20,37.20,37.14,38002.0,NaN,NaN,NaN,36.604042,NaN
2,114.33,114.36,114.41,114.31,27240.0,NaN,NaN,NaN,94.688458,NaN,...,37.15,37.15,37.18,37.14,33423.0,NaN,NaN,NaN,26.896268,NaN
3,114.32,114.32,114.34,114.25,22342.0,NaN,NaN,NaN,84.302204,NaN,...,37.22,37.14,37.22,37.14,59713.0,NaN,NaN,0.0,25.442911,NaN
4,114.36,114.32,114.37,114.29,16668.0,NaN,NaN,NaN,84.302204,NaN,...,37.26,37.22,37.26,37.22,17075.0,NaN,NaN,0.0,49.126458,NaN

In [3]:
test_env = StockTradingEnv(df)

In [4]:
test_env.reset()

array([ 1.14470000e+02,  1.14420000e+02,  1.14470000e+02,  1.14280000e+02,
        1.30880000e+04, -2.60019513e-02, -6.65165961e-03, -1.93502917e-02,
        5.23306882e+01,  3.10822656e+01,  4.46925000e+01,  4.47275000e+01,
        4.47350000e+01,  4.46750000e+01,  1.99588000e+05,  1.49051163e-02,
       -3.84654769e-03,  1.87516640e-02,  5.73695873e+01,  4.65503920e+01,
        3.72700000e+01,  3.73000000e+01,  3.73200000e+01,  3.72700000e+01,
        1.15110000e+04,  1.84411809e-02,  1.35637394e-02,  4.87744158e-03,
        6.45381401e+01,  6.89120833e+01,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.00000000e+04])

In [5]:
action = np.array([3,0,100])
test_env.step(action)

(array([ 1.14450000e+02,  1.14480000e+02,  1.14490000e+02,  1.14420000e+02,
         7.30500000e+03, -1.46545775e-02,  3.75657133e-03, -1.84111489e-02,
         5.61917507e+01,  3.03869965e+01,  4.46900000e+01,  4.46850000e+01,
         4.47000000e+01,  4.46450000e+01,  1.69452000e+05,  1.26402560e-02,
        -4.88912641e-03,  1.75293824e-02,  5.03440756e+01,  4.18090577e+01,
         3.73000000e+01,  3.72600000e+01,  3.73200000e+01,  3.72400000e+01,
         2.44710000e+04,  2.01737624e-02,  1.22370567e-02,  7.93670574e-03,
         5.75865106e+01,  5.77484177e+01,  8.70000000e+01,  0.00000000e+00,
         0.00000000e+00,  4.25503195e+01]),
 0.11488586276455572,
 False,
 {})